#text-logo-academy {
    color: gray;
}
.nav-link{
    color:black;
    font-size:15px;
    padding-right:16px;
}
#navbar-header{
    padding-right:24px;
    padding-left: 24px;

}
#card-learn-something-new {
    background-color: lightgray;
    padding-top:64px;

}

.col-md-5 h5{
    font-weight:bold;
    font-size:20px;
    color:black;
}
.col-md-5 p{
    font-size:13px;
}

.col-md-5 button{
    font-size:13px;
    background-color: black;
    padding-top:8px;
    padding-bottom:8px;
}